#OS
.DS_STORE
*.log
.env

#dependencies
node_modules

#stats
coverage
webpack.stats.json

#build
dist
build

#build cache
.eslintcache

#IDE
*.sublime-project
*.sublime-workspace
.idea
.vscode

antigen*

config-after.xml
config-before.xml
